* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

div.grid {
  display: grid;
  grid-template-columns: 1fr 90rem 1fr;
  grid-template-rows: 9rem 1fr 9rem;
  row-gap: 10px;
}

div.header {
  grid-column: 2 / 2;
}

div.content {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

div.footer {
  grid-column: 1 / -1;
}

div.content-grid {
  display: grid;
  grid-template-columns: 13rem 1fr;
  column-gap: 3rem;
}
div.my-page {
  position: sticky;
  top: 10px;
  background-color: #fff6ec;
  height: 33rem;
  /* 상하 고정 크기 말고 리스트 추가하면 더 늘어나도록 항목에 따른 패딩을 부여  */
  /* padding-top: 1rem; */
  /* padding-bottom: 1rem; */

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
}

.list {
  padding: 0;
}

.my-page li {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 3rem;
  font-weight: bold;
  color: gray;
}

.my-page li:last-child {
  padding: 0;
}

div.main-content {
  border: 2px solid #ffeedb;
  border-radius: 20px;
}

.content-title {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.border-line {
  margin: 0 auto;
  width: 70rem;
  border-top: 1px solid #000;
}

.content-title div {
  margin-left: 2rem;
}

div.wishlist {
  border: 2px solid #ffeedb;
  border-radius: 20px;
  width: 70rem;
  height: 120rem;
  margin: 2rem;
  padding: 1rem 0;
  justify-content: space-between;
}

img.uncheck {
  width: 3rem;
  height: 3rem;
}

img.check {
  width: 3rem;
  height: 3rem;
}

div.wishlist {
  display: flex;
  flex-direction: column;
}

div.one-wishlist {
  display: flex;
  border: 2px solid #ffeedb;
  margin: 1rem;
  padding: 0 1.5rem;
  align-items: center;
  justify-content: space-between;
}

div.right-element {
  display: flex;
  align-items: center;
}
div.wishlist-info {
  padding: 0.5rem 2rem;
}

div.wishlist-info div {
  display: flex;
  font-size: 1.5rem;
}

div.info-content {
  padding-left: 1rem;
}

div.goto-button > button {
  border-radius: 15px;
  border: none;
  width: 13rem;
  height: 3.5rem;
  font-size: 1.5rem;
}

button.activate {
  background-color: #fbe6cd;
}

button.deactivate {
  background-color: #b1b1b1;
}

div.paging {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

div.paging div {
  padding: 1rem;
}

p.page-minus {
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-right: 1rem solid #333;
  margin-right: 1rem;
}

p.page-plus {
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  border-left: 1rem solid #333;
  border-right: 1rem solid transparent;
  margin-left: 1rem;
}
