* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

div.grid {
  display: grid;
  grid-template-columns: 1fr 90rem 1fr;
  grid-template-rows: 9rem 1fr 9rem;
  row-gap: 10px;
}

div.header {
  grid-column: 2 / 2;
}

div.content {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

div.footer {
  grid-column: 1 / -1;
}

div.content-grid {
  display: grid;
  grid-template-columns: 13rem 1fr;
  column-gap: 3rem;
}
div.my-page {
  position: sticky;
  top: 10px;
  background-color: #fff6ec;
  height: 33rem;
  /* 상하 고정 크기 말고 리스트 추가하면 더 늘어나도록 항목에 따른 패딩을 부여  */
  /* padding-top: 1rem; */
  /* padding-bottom: 1rem; */

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
}

.list {
  padding: 0;
}

.my-page li {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 3rem;
  font-weight: bold;
  color: gray;
}

.my-page li:last-child {
  padding: 0;
}

div.main-content {
  border: 2px solid #ffeedb;
  border-radius: 20px;
}

.content-title {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.border-line {
  margin: 0 auto;
  width: 70rem;
  border-top: 1px solid #000;
}

.content-title div {
  margin-left: 2rem;
}

div.sub-title {
  font-size: 1.5rem;
}

div.regist-form {
  display: flex;
  border: 2px solid #ffeedb;
  border-radius: 20px;
  margin: 2rem;
  padding: 1rem 0;
  justify-content: space-between;
}

div.regist-content {
  display: flex;
  padding: 0 2rem;
  width: 100%;
  flex-direction: column;
}

div.sub-title {
  display: flex;
  justify-content: flex-start;
}

div.sub-content {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

div.form-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;
}
div.form-item label {
  padding-left: 20rem;
}

select#gender {
  width: 15rem;
}

select#region-number {
  width: 5rem;
}

div.form-item div {
  display: flex;
  align-items: center;
}

input[type="text"] {
  text-align: center;
  width: 15rem;
}

input.region-number {
  width: 10rem;
}

input[type="date"] {
  text-align: center;
  width: 15rem;
}

textarea {
  width: 30rem;
  height: 10rem;
}

div.email-form > .email {
  width: 10rem;
  margin-right: 0.5rem;
}
div.email-form > p {
  margin-right: 0.5rem;
}

div.img-form > div {
  width: 15rem;
}

div.img-form > button {
  width: 15rem;
  font-size: 1.2rem;
  border-radius: 15px;
  border: 1px solid #333;
}

div.active-area-form input {
  width: 15rem;
  margin-right: 1rem;
}

div.active-area-form button {
  border-radius: 10px;
  border: 1px solid #333;
}

div.license > input {
  width: 15rem;
  margin-right: 1rem;
}

div.license > button {
  border-radius: 10px;
  border: 1px solid #333;
}

div.regist-button {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

div.regist-button button {
  width: 10rem;
  font-size: 2rem;
  background-color: #ffeedb;
  border: none;
  border-radius: 25px;
}
