@charset "UTF-8";

div.grid {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows:
    minmax(28px, auto) minmax(28px, auto) minmax(28px, auto) minmax(28px, auto)
    320px 1fr;
  row-gap: 10px;
}

div.errors {
  font-size: 0.8rem;
  color: #a00;
}

div.grid > div.btn-group {
  display: grid;
  grid-column: 1/3;
}

div.right-align {
  text-align: right;
}

label {
  padding-left: 10px;
}

button,
input,
textarea {
  padding: 10px;
}

input[type="file"] {
  padding: 0;
}

textarea {
  height: 300px;
}

.available {
  background-color: #0f08;
}

.unusable {
  background-color: #f008;
}


div.right-align{
	text-align:right;
}
ul.horizontal-list{
	padding: 0px;
	margin: 0px;
}

ul.horizzontal-list li {
	display: inline;
}

li.special{
	margin-right: 15px;
	
}
