@font-face {
    font-family: 'Inter';
    src: url('./font/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
    font-size: 1.3rem;
}

div.grid {
    display: grid;
    grid-template-columns: 1fr 90rem 1fr;
    grid-template-rows: 9rem 1fr 9rem;
}

div.header {
    grid-column: 2 / 2;
}

div.content {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

div.footer {
    grid-column: 1 / -1;
}

img {
    width: 30rem;
    height: 22rem;
    height: 100%;
    border-radius: 20px;
}

div.my-tour {
    text-align: center;
}

.align-button {
    margin-top: 5rem;
    border: 1px solid black;
    border-radius: 10px;
    width: 29rem;
    height: 3.7rem;

}

.align-button-text {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.border {
    margin: 0 auto;
    width: 90rem;
    border-top: 1px solid #000;
}


.tour-box {
    display: flex;
    border: 1px solid #BBBBBB;
    border-radius: 20px;
    width: 87.5rem;
    height: 25rem;
    margin: 2.3rem auto;
    flex-grow: 0;
    padding: 39px 95px 37px 78px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.my-tour>.tour-box {
    margin-top: 1rem;
}

.tour-contents {
    text-align: left;
    padding-top: 2rem;
    padding-left: 2rem;
}

.tour-contents-text {
    margin: 0;
}